{
  "presets": [
    ["env", { "modules": false }],
    "stage-1",
    "react"
  ],
  "plugins": [
    ["transform-react-jsx"],
    ["transform-decorators-legacy"],
    "transform-runtime",
    "react-hot-loader/babel"
  ]
}